html,
body {
  min-height: 100%;
}
#___gatsby {
  min-height: 100%;
}
#gatsby-focus-wrapper {
  min-height: 100%;
}

/* body {
  display: flex;
  flex-direction: column;
} */
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
.img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* -khtml-border-radius: 50%; */
}
.chakra-ui-dark {
  background: #021b49;
  color: #b7cefc;
}
.chakra-ui-light {
  background: #e3efff;
  color: #1040a3;
}
.chakra-ui-light .active {
  color: #00091d;
}
.chakra-ui-dark .active {
  color: #5c8def;
}
.project-img {
  height: 15rem;
  object-position: top;
}
.project-card {
  padding: 24px;
  border-radius: 12px;
}
.chakra-ui-light .project-card {
  background: #8aadf5;
}
.chakra-ui-dark .project-card {
  background: #1040a3;
}
.blog-img {
  height: 20rem;
  border-radius: 15px;
  /* margin: 0 auto; */
}
.blog-card {
  margin-bottom: 16px;
  padding: 16px 0;
  border-bottom: 2px solid #8aadf5;
}
.calendar {
  padding-right: 6px;
}
.post-img {
  border-radius: 15px;
  margin: 1rem 0;
  display: block;
}

.yuzuTea {
  display: none;
}

.chakra-ui-light .activebtn {
  color: #5c8def;
}
.chakra-ui-dark .activebtn {
  color: #00091d;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 9px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #5c8def transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #5c8def;
  border-radius: 5px;
  border: 3px solid transparent;
}
